<div>
    <h1>Data Downloader</h1>

    <div ng-show="data.showLoadingBar">
        <img src="assets/img/ajax-loader.gif"/>
    </div>

    <div class="functionBox">
        <button class="myButton" ng-click="data.refreshAllReportDates()">Refresh all report dates</button>

        <table class="myTable">
            <thead>
            <tr>
                <th>Refreshed URLs</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="url in data.refreshedURLs">
                <td>{{ url }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="functionBox">
        <button class="myButton" ng-click="data.collectInsiderContent()">Collect http://insidertrading.org/ data</button>

        <table class="myTable">
            <thead>
            <tr>
                <th>Refreshed indexes</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="index in data.downloadedInsiders">
                <td>{{ index }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="functionBox">
        <button class="myButton" ng-click="data.collectEarningsCalls()">Collect http://seekingalpha.com/ data</button>

        <table class="myTable">
            <thead>
            <tr>
                <th>Refreshed indexes</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="index in data.downloadedEarningsCalls">
                <td>{{ index }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="functionBox">
        <div class="generalInput">
            Trading symbol: <input type="text" ng-model="data.tradingSymbol"/>
        </div>
        <button class="myButton" ng-click="data.collectEarningsCallsForSymbol()">Collect earnings calls and process tone with Q&A parts</button>
        <h2>Result: </h2>
        <div>
            {{data.tradingSymbolResponse}}
        </div>
    </div>
</div>