<div>
    <h1>Data Downloader</h1>

    <div ng-show="data.showLoadingBar">
        <img src="assets/img/ajax-loader.gif"/>
    </div>

    <div class="functionBox">
        <button class="myButton" ng-click="data.refreshAllReportDates()">OLD - Refresh all report dates from http://zacks.com</button>

        <table class="myTable">
            <thead>
            <tr>
                <th>Refreshed URLs</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="url in data.refreshedURLs">
                <td>{{ url }}</td>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="functionBox">
        <button class="myButton" ng-click="data.downloadAllZECD()">NEW - Refresh all report dates from http://zacks.com</button>

        <table class="myTable">
            <thead>
            <tr>
                <th>Refreshed indexes</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="index in data.downloadedZECDs">
                <td>{{ index }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="functionBox">
        <button class="myButton" ng-click="data.collectInsiderContent()">Collect http://sec.gov/ Edgar data (form4, insider trading information)</button>

        <table class="myTable">
            <thead>
            <tr>
                <th>Refreshed indexes</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="index in data.downloadedInsiders">
                <td>{{ index }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="functionBox">
        <div class="generalInput">
            Trading Symbol: <input type="text" ng-model="data.insiderTradingSymbol"/>
        </div>
        <button class="myButton" ng-click="data.collectInsiderContentFor()">Collect http://sec.gov/ Edgar data (form4, insider trading information) for Trading Symbol</button>
        <h2>Result: </h2>
        <div>
            {{data.insiderResponse}}
        </div>
    </div>

    <div class="functionBox">
        <button class="myButton" ng-click="data.collectEarningsCalls()">Collect http://seekingalpha.com/ data</button>

        <table class="myTable">
            <thead>
            <tr>
                <th>Refreshed indexes</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="index in data.downloadedEarningsCalls">
                <td>{{ index }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="functionBox">
        <div class="generalInput">
            Trading Symbol: <input type="text" ng-model="data.tradingSymbol"/>
        </div>
        <button class="myButton" ng-click="data.collectEarningsCallsForSymbol()">Collect http://seekingalpha.com/ data for Trading Symbol</button>
        <h2>Result: </h2>
        <div>
            {{data.tradingSymbolResponse}}
        </div>
    </div>

    <div class="functionBox">
        <button class="myButton" ng-click="data.downloadShortInterestData()">Collect http://nasdaq.com/ short interest data</button>

        <table class="myTable">
            <thead>
            <tr>
                <th>Refreshed indexes</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="index in data.downloadedShortInterestData">
                <td>{{ index }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="functionBox">
        <button class="myButton" ng-click="data.downloadHistoricalShortInterest()">Collect historical short interest data</button>

        <p>The data will be imported from all the CSV files located in 'z:\Quant_CO2\IMPORT\SHORT_INTEREST\'</p>
        <p>The algorithm is recursive, so the multilevel folder structure is supported</p>
    </div>

    <div class="functionBox">
        <button class="myButton" ng-click="data.downloadAllIPOActivity()">Collect http://nasdaq.com/ IPO activity</button>

        <h2>Result: </h2>
        <div>
            {{data.ipoActivity}}
        </div>
    </div>

    <div class="functionBox">
        <button class="myButton" ng-click="data.downloadOilReports()">Collect https://iea.org/ oil reports tone</button>

        <h2>Result: </h2>
        <div>
            {{data.oilReportsResponse}}
        </div>
    </div>

</div>