<div>
    <h1>Zacks Downloader</h1>

    <div ng-show="data.showLoadingBar">
        <img src="assets/img/ajax-loader.gif"/>
    </div>

    <div class="functionBox">
        <button class="myButton" ng-click="data.refreshAllReportDates()">Refresh all report dates</button>

        <table class="myTable">
            <thead>
            <tr>
                <th>Refreshed URLs</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="url in data.refreshedURLs">
                <td>{{ url }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>